env/
drug-project/
venv/
*.venv
*.env
full_database.xml
*.xml.zip
rawdata/full database.xml
rawdata/sample.xml
*.csv

*.pt
*.pkl
*.png

pycache/
*.pyc
*.pyo
*.pyd

.vscode/

.ipynb_checkpoints

build/
dist/
*.egg-info/